<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>company</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1 id="logo">Company Name</h1>
                </div>
                <div class="col-md-8">
                    <ul id="menu" class="float-md-right">
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">GALLERY</a></li>
                        <li><a href="#">PRODUCTS</a></li>
                        <li><a href="#">CONTACT US</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="banner" class="py-md-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6">
                    <div class="banner-title">
                        <h1 class="title">some headings goes here</h1>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus ullam, id sunt maiores architecto accusamus minus unde autem eos accusantium!s</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container section">
        <div class="row">
            <div class="col-12">
                <h2 class="section-head">some heading goes here</h2>
            </div>
            <div class="col-4">
                <div class="service-box">
                    <i class="fa fa-anchor"></i>
                    <h3>some heading</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit id porro voluptatum dolores sed repellat!</p>
                </div>
            </div>
            <div class="col-4">
                <div class="service-box">
                    <i class="fa fa-bar-chart" ></i>
                    <h3>some heading</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit id porro voluptatum dolores sed repellat!</p>
                </div>
            </div>
            <div class="col-4">
                <div class="service-box">
                    <i class="fa fa-diamond"></i>
                    <h3>some heading</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit id porro voluptatum dolores sed repellat!</p>
                </div>
            </div>
        </div>
    </div>
    <div id="testimonials" class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="section-head">testimonials</h2>
                </div>
                <div class="col-6">
                    <div class="testimonials">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, libero saepe. Ducimus, animi? Qui, suscipit!</p>
                        <img src="img/bill.jpg" alt="bill gates">
                        <div class="author">BILL GATES</div>
                        <div class="author-company">MICROSOFT</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="testimonials">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, libero saepe. Ducimus, animi? Qui, suscipit!</p>
                        <img src="img/steve.jpg" alt="steve jobs">
                        <div class="author">STEVE JOBS</div>
                        <div class="author-company">APPLE</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="news" class="container section">
        <div class="row">
            <div class="col-12">
                <h2 class="section-head">Recent News</h2>
            </div>
            <div class="col-3">
                <div class="news-post">
                    <h3><a href="">news heading here</a></h3>
                    <div class="post-date">April 30, 2020</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quibusdam nam nihil cupiditate provident perspiciatis, similique ullam. Minima, suscipit ipsum?</p>
                    <a href="" class="readmore">Read More</a>
                </div>
            </div>
            <div class="col-3">
                <div class="news-post">
                    <h3><a href="">news heading here</a></h3>
                    <div class="post-date">April 30, 2020</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quibusdam nam nihil cupiditate provident perspiciatis, similique ullam. Minima, suscipit ipsum?</p>
                    <a href="" class="readmore">Read More</a>
                </div>
            </div>
            <div class="col-3">
                <div class="news-post">
                    <h3><a href="">news heading here</a></h3>
                    <div class="post-date">April 30, 2020</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quibusdam nam nihil cupiditate provident perspiciatis, similique ullam. Minima, suscipit ipsum?</p>
                    <a href="" class="readmore">Read More</a>
                </div>
            </div>
            <div class="col-3">
                <div class="news-post">
                    <h3><a href="">news heading here</a></h3>
                    <div class="post-date">April 30, 2020</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quibusdam nam nihil cupiditate provident perspiciatis, similique ullam. Minima, suscipit ipsum?</p>
                    <a href="" class="readmore">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="footer-widget">
                        <h4>About Company</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente qui iste nostrum minima earum, velit deserunt soluta est officiis deleniti.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore provident minima modi consectetur? Amet fuga cum excepturi.</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="footer-widget">
                        <h4>Latest News</h4>
                       <ul class="latest-news">
                           <li><a href="">Lorem ipsum dolor sit amet consectetur.</a></li>
                           <li><a href="">Lorem ipsum dolor sit amet consectetur.</a></li>
                           <li><a href="">Lorem ipsum dolor sit amet consectetur.</a></li>
                           <li><a href="">Lorem ipsum dolor sit amet consectetur.</a></li>
                           <li><a href="">Lorem ipsum dolor sit amet consectetur.</a></li>
                           <li><a href="">Lorem ipsum dolor sit amet consectetur.</a></li>
                       </ul>
                       </ul>
                    </div>
                </div>
                <div class="col-4">
                    <div class="footer-widget">
                        <h4>Company Address</h4>
                        <address>
                            <b>Lorem ipsum dolor sit amet consectetur adipisicing.</b><br>
                            p:(123)-234-4545
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <p>copyright@2020 company name</p>
                </div>
                <div class="col-6">
                    <ul id="social-icons" class="float-right">
                        <li><a href="" class="fa fa-facebook-official"></a></li>
                        <li><a href="" class="fa fa-twitter-square"></a></li>
                        <li><a href="" class="fa fa-linkedin-square"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>